/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

@import "bootstrap-sprockets";
@import "bootstrap";

.twitter-typeahead {
  width: 100%;
}

#device-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#device-search-input input{
  border: 0;
  box-shadow: none;
}

#device-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#device-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#device-search-input .glyphicon-search{
  font-size: 23px;
}

.tt-menu {
  top: 120% !important;
  background: #f1f1f1;

  .tt-suggestion {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #eaeaea;
    }

    img {
      width: 70px;
    }

    .name {
      margin-left: 10px;
    }
  }
}

.show-device {
  margin-top: 60px;
}

.device-specs-brief {
  margin-top: 20px;
}

.search-results {
  .thumbnail {
    height: 275px;
  }
}



#specs-list hr {
  margin: 20px 0;
}

#specs-list {
  width: 727px;
  margin-bottom: 10px;
}

#specs-list p {
  background: #F6F6F6;
  font-size: 13px;
  padding: 4px 6px;
  line-height: 1.5;
  color: #333;
}

#specs-list p a {
  color: #7D7464;
  text-decoration: underline;
}

#non-gsm p {
  color: #4B3C23;
  font-weight: bold;
}

#specs-list table {
  border-top: 1px solid #E3E3E3;
  width: 100%;
}

#specs-list caption {
  display: none;
}

#specs-list th, #specs-list td {
  font: 14px 'Arimo', Arial !important;
  padding: 2px 10px;
  vertical-align: top;
}

#specs-list th {
  background: #F6F6F6;
  border-right: medium none;
  color: #B23F33;
  font: 16px "Google-Oswald", Arial;
  text-transform: uppercase;
  width: 96px;
}

#specs-list td {
  background: #FAFAFA;
  border-bottom: 1px solid #f0f0f0;
  line-height: 16px;
}

#specs-list td.ttl {
  color: #7D7464;
  font-weight: bold;
  width: 110px;
}

#specs-list tr:last-child td {
  border-bottom: medium none;
}

#specs-list td.ttl a {
  color: #555;
}

#specs-list td.nfo ul {
  margin-left: 16px;
}

#specs-list td.nfo a {
  color: #b23f33;
  text-decoration: underline;
}

#specs-list td.nfo a.noUnd {
  color: #000000;
  text-decoration: none;
}

#specs-list td.nfo li {
  list-style-type: disc;
  padding: 1px 0;
}

#all-phones ul {
  height: 178px;
  overflow: auto;
}

#specs-list td.nfo {
  vertical-align: middle
}

.link-network {
  display:block;
  padding-top:5px;
}

#specs-list .tr-hover .ttl a,
#specs-list .tr-hover .nfo a {
  position: relative;
}

#specs-list .tr-hover .ttl a {
  top: 3px;
}

#specs-list .tr-hover .nfo a {
  top: 3px;
}

.preloader {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 70px;
  height: 70px;
  background: image-url('/preloader.gif') no-repeat 50% 50%;
}
